/*p{
    background-color: lightskyblue;
    margin: 50px;
}

.estaEsClase{
    background-color: lightseagreen;
}

#titulo{
    background-color: brown;
}*/

body{
    background-color: grey;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenido{
    max-width: 600px;
    margin: 50px auto;
}

h1{
    color: #ffcc00;
}

a{
    color: #ffcc00;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p{
    margin-bottom: 20px;
}

.hashtag{
    color: #00cc66;
}